*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(12, 5, 19);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    position: fixed;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.header h2{
    color: rgb(246, 9, 227);
    font-weight: bold;
}

.header .btng{
    background-color: white;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #313131;
    color: white;
    text-decoration: none;
}
.btng:hover{
    background-color: #353434;
}

.wrapper{
    width: 80%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speed{
    font-size: 50px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.482);
    margin-bottom: 20px;
}

.preview{
    border: none;
    outline: none;
    padding: 10px;
    color: rgba(245, 245, 245, 0.676);
    text-align: justify;
    margin-bottom: 50px;
    font-size: 18px;
}

.txtarea{
    background-color: rgb(19, 7, 31);
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #e0aadc;
    margin-bottom: 30px;
    height: 200px !important;
}

.txtarea:focus{
    outline: 0;
    background-color: rgb(19, 7, 31);
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #e0aadc;
}

.btn{
    background: rgb(189,102,247);
    background: linear-gradient(162deg, rgba(189,102,247,1) 26%, rgba(233,71,71,1) 90%, rgba(223,135,13,1) 100%);
    border: none;
    outline: none !important;
    width: 100px;
    height: 45px;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}
.btn:hover{
    background: rgb(223,135,13);
    background: linear-gradient(162deg, rgba(223,135,13,1) 0%, rgba(233,71,71,1) 9%, rgba(189,102,247,1) 94%);
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}